div#content, div#content2 {
    background: red;
    color: white;
    width: 20%;
    text-align: center;
    margin-right: 1em;
    padding: 2em 0 2em 0;
    /* margin: 0 auto;  Aligns any content */
}
section {
    margin: 0;
    display: flex;
    flex-direction: row;
}
body{
    margin: 0;
}
div#content2 {
    background: blue;
}
img {
    height: 20%;
    width: 30%;
    margin-top: 1em;
    justify-content: center;
    display: flex;
}